In [1]:
print('hi')

hi

In [2]:
import pandas as pd

airports = pd.read_csv("world_airports.csv")
countries = pd.read_csv("countries.csv")
regions  = pd.read_csv("regions.csv")

# World master (all airports)
airports_world = (
    airports
    .merge(countries[['code','name','continent']].rename(columns={'code':'iso_country', 'name':'country_name'}),
           on='iso_country', how='left')
)

# India master (filter + add state/UT)
airports_india = (
    airports.query("iso_country == 'IN'")
    .merge(regions[['code','name']].rename(columns={'code':'iso_region','name':'state_ut'}),
           on='iso_region', how='left')
)

airports_world

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent_x,iso_country,iso_region,...,scheduled_service,icao_code,iata_code,gps_code,local_code,home_link,wikipedia_link,keywords,country_name,continent_y
0,6523,00A,heliport,Total RF Heliport,40.070985,-74.933689,11.0,NaN,US,US-PA,...,no,NaN,NaN,K00A,00A,https://www.penndot.pa.gov/TravelInPA/airports...,NaN,NaN,United States,NaN
1,323361,00AA,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,NaN,US,US-KS,...,no,NaN,NaN,00AA,00AA,NaN,NaN,NaN,United States,NaN
2,6524,00AK,small_airport,Lowell Field,59.947733,-151.692524,450.0,NaN,US,US-AK,...,no,NaN,NaN,00AK,00AK,NaN,NaN,NaN,United States,NaN
3,6525,00AL,small_airport,Epps Airpark,34.864799,-86.770302,820.0,NaN,US,US-AL,...,no,NaN,NaN,00AL,00AL,NaN,NaN,NaN,United States,NaN
4,506791,00AN,small_airport,Katmai Lodge Airport,59.093287,-156.456699,80.0,NaN,US,US-AK,...,no,NaN,NaN,00AN,00AN,NaN,NaN,NaN,United States,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83793,32753,ZYYY,medium_airport,Shenyang Dongta Airport,41.784354,123.496308,157.0,AS,CN,CN-21,...,no,ZYYY,NaN,ZYYY,NaN,NaN,NaN,"东塔机场, SHE",China,AS
83794,46378,ZZ-0001,heliport,Sealand Helipad,51.894444,1.482500,40.0,EU,GB,GB-ENG,...,no,NaN,NaN,NaN,NaN,http://www.sealandgov.org/,https://en.wikipedia.org/wiki/Principality_of_...,Roughs Tower Helipad,United Kingdom,EU
83795,307326,ZZ-0002,small_airport,Glorioso Islands Airstrip,-11.584278,47.296389,11.0,AF,TF,TF-U-A,...,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,French Southern and Antarctic Lands,AF
83796,346788,ZZ-0003,small_airport,Fainting Goat Airport,32.110587,-97.356312,690.0,NaN,US,US-TX,...,no,NaN,NaN,87TX,87TX,NaN,NaN,NaN,United States,NaN
83797,599952,ZZ-0004,heliport,(Bogus)Jezero Crater(Location is India not Pla...,18.440000,77.450000,8530.0,AF,ZZ,ZZ-U-A,...,no,JZRO,NaN,NaN,NaN,NaN,NaN,NaN,Unknown or unassigned country,AF

In [3]:
airports_india

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,icao_code,iata_code,gps_code,local_code,home_link,wikipedia_link,keywords,state_ut
0,526897,HU-0072,heliport,Helipad,29.946754,79.903173,NaN,AS,IN,IN-UT,Kedareshwar,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Uttarakhand
1,35129,IN-0001,heliport,Siachen Base Camp Heliport,35.194275,77.213051,11693.0,AS,IN,IN-LA,Nubra,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ladakh
2,35130,IN-0002,heliport,Tawang Air Force Station,27.588732,91.877439,8756.0,AS,IN,IN-AR,Tawang,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Arunachal Pradesh
3,42716,IN-0003,small_airport,Daulat Beg Oldi Advanced Landing Ground,35.396467,77.928965,16200.0,AS,IN,IN-LA,Nubra,no,NaN,NaN,NaN,NaN,NaN,https://en.wikipedia.org/wiki/Daulat_Beg_Oldi_...,NaN,Ladakh
4,42717,IN-0004,heliport,Leh Heliport,34.129295,77.537205,10682.0,AS,IN,IN-LA,Leh,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ladakh
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
637,26629,VOTV,large_airport,Thiruvananthapuram International Airport,8.482120,76.920097,15.0,AS,IN,IN-KL,Thiruvananthapuram,yes,VOTV,TRV,VOTV,NaN,NaN,https://en.wikipedia.org/wiki/Trivandrum_Inter...,"Thiruvananthapuram International Airport, Triv...",Kerala
638,26630,VOTX,small_airport,Tambaram Air Force Station,12.907200,80.121902,90.0,AS,IN,IN-TN,Chennai,no,NaN,NaN,VOTX,NaN,NaN,https://en.wikipedia.org/wiki/Tambaram_Air_For...,NaN,Tamil Nadu
639,32592,VOVR,small_airport,Vellore Airport,12.908800,79.066803,764.0,AS,IN,IN-TN,Vellore,no,NaN,NaN,VOVR,NaN,NaN,https://en.wikipedia.org/wiki/Vellore_Airport,NaN,Tamil Nadu
640,32647,VOWA,small_airport,Warangal Airport,17.914400,79.602203,935.0,AS,IN,IN-TG,Warangal,no,VOWA,WGC,VOWA,NaN,http://aai.aero/allAirports/warrangal.jsp,https://en.wikipedia.org/wiki/Warangal_Airport,"Mamnoor, Warrangal",Telangana
641,26631,VOYK,small_airport,Yelahanka Air Force Station,13.135500,77.606003,3045.0,AS,IN,IN-KA,Yelahanka,no,NaN,NaN,VOYK,NaN,NaN,https://en.wikipedia.org/wiki/Yelahanka_Air_Fo...,NaN,Karnataka

In [4]:
import pandas as pd

# Change path to where you saved the .dat files
routes   = pd.read_csv("routes.dat", header=None)



routes.columns = ["Airline","Airline_ID","Source_Airport","Source_Airport_ID",
                  "Destination_Airport","Destination_Airport_ID",
                  "Codeshare","Stops","Equipment"]

routes.head()

,Airline,Airline_ID,Source_Airport,Source_Airport_ID,Destination_Airport,Destination_Airport_ID,Codeshare,Stops,Equipment
0,2B,410,AER,2965,KZN,2990,NaN,0,CR2
1,2B,410,ASF,2966,KZN,2990,NaN,0,CR2
2,2B,410,ASF,2966,MRV,2962,NaN,0,CR2
3,2B,410,CEK,2968,KZN,2990,NaN,0,CR2
4,2B,410,CEK,2968,OVB,4078,NaN,0,CR2

In [5]:
import pandas as pd

# --- 1) LOAD ---
# adjust paths as needed
airports = pd.read_csv("world_airports.csv")      # OurAirports OR OpenFlights airports.dat saved as csv
routes   = pd.read_csv("routes.dat", header=None)  # OpenFlights routes
routes.columns = ["airline","airline_id","src_code","src_id",
                  "dst_code","dst_id","codeshare","stops","equipment"]

# --- 2) NORMALIZE AIRPORTS SCHEMA ---
def normalize_airports(df):
    cols = {c.lower(): c for c in df.columns}  # case-insensitive helper

    # detect OurAirports vs OpenFlights by key column
    if 'iata_code' in cols or 'latitude_deg' in cols:
        # OurAirports
        return pd.DataFrame({
            'iata': df.get('iata_code'),
            'icao': df.get('ident') if 'ident' in df.columns else df.get('icao_code'),
            'lat':  df.get('latitude_deg'),
            'lon':  df.get('longitude_deg'),
            'name': df.get('name'),
            'country': df.get('iso_country') if 'iso_country' in df.columns else df.get('country')
        })
    else:
        # OpenFlights airports.dat columns (after you applied headers)
        # Expected: IATA, ICAO, Latitude, Longitude, Name, Country
        # If you didn't set headers yet, set them here:
        if list(df.columns) == list(range(len(df.columns))):
            df = df.copy()
            df.columns = ["Airport_ID","Name","City","Country","IATA","ICAO",
                          "Latitude","Longitude","Altitude","Timezone","DST",
                          "Tz_database_time_zone","Type","Source"]
        return pd.DataFrame({
            'iata': df.get('IATA'),
            'icao': df.get('ICAO'),
            'lat':  df.get('Latitude'),
            'lon':  df.get('Longitude'),
            'name': df.get('Name'),
            'country': df.get('Country')
        })

ap = normalize_airports(airports)

# Clean codes to consistent case and strip blanks
for col in ['iata','icao']:
    if col in ap.columns:
        ap[col] = ap[col].astype(str).str.strip().str.upper().replace({'NAN': pd.NA, 'NONE': pd.NA, '': pd.NA})
for col in ['src_code','dst_code']:
    routes[col] = routes[col].astype(str).str.strip().str.upper()

# --- 3) MERGE BY IATA, THEN FALL BACK TO ICAO ---

# Source airport coords: IATA
r = routes.merge(
    ap[['iata','lat','lon']].rename(columns={'iata':'src_code','lat':'lat_src_iata','lon':'lon_src_iata'}),
    on='src_code', how='left'
)
# Source airport coords: ICAO fallback
r = r.merge(
    ap[['icao','lat','lon']].rename(columns={'icao':'src_code','lat':'lat_src_icao','lon':'lon_src_icao'}),
    on='src_code', how='left'
)

# Destination airport coords: IATA
r = r.merge(
    ap[['iata','lat','lon']].rename(columns={'iata':'dst_code','lat':'lat_dst_iata','lon':'lon_dst_iata'}),
    on='dst_code', how='left'
)
# Destination airport coords: ICAO fallback
r = r.merge(
    ap[['icao','lat','lon']].rename(columns={'icao':'dst_code','lat':'lat_dst_icao','lon':'lon_dst_icao'}),
    on='dst_code', how='left'
)

# Coalesce IATA coords with ICAO coords
r['lat_src'] = r['lat_src_iata'].fillna(r['lat_src_icao'])
r['lon_src'] = r['lon_src_iata'].fillna(r['lon_src_icao'])
r['lat_dst'] = r['lat_dst_iata'].fillna(r['lat_dst_icao'])
r['lon_dst'] = r['lon_dst_iata'].fillna(r['lon_dst_icao'])

# Optional: drop helper columns
r = r.drop(columns=[
    'lat_src_iata','lon_src_iata','lat_src_icao','lon_src_icao',
    'lat_dst_iata','lon_dst_iata','lat_dst_icao','lon_dst_icao'
])

# --- 4) CHECK MATCH RATES ---
missing_src = r['lat_src'].isna().sum()
missing_dst = r['lat_dst'].isna().sum()
print(f"Unmatched source airports: {missing_src} | Unmatched destination airports: {missing_dst}")

# Save
r.to_csv("routes_full_with_coords.csv", index=False)
print("Saved routes_full_with_coords.csv")

Unmatched source airports: 689 | Unmatched destination airports: 684
Saved routes_full_with_coords.csv

In [6]:
import pandas as pd
import numpy as np

# You already have r (routes merged with OurAirports by IATA/ICAO) and unmatched counts printed.
# Now load OpenFlights airports.dat and normalize columns.

ap_of = pd.read_csv("airports.dat", header=None, dtype=str)
ap_of.columns = ["airport_id","name","city","country","iata","icao",
                 "lat","lon","alt_ft","timezone","dst","tzdb","type","source"]

# Clean types
ap_of["airport_id"] = pd.to_numeric(ap_of["airport_id"], errors="coerce")
for c in ["iata","icao","name","country","city"]:
    ap_of[c] = ap_of[c].astype(str).str.strip().str.upper().replace({"\\N": np.nan, "NAN": np.nan, "": np.nan})
for c in ["lat","lon"]:
    ap_of[c] = pd.to_numeric(ap_of[c], errors="coerce")

# Clean route IDs (routes were named src_id/dst_id earlier)
r["src_id"] = pd.to_numeric(r["src_id"], errors="coerce")
r["dst_id"] = pd.to_numeric(r["dst_id"], errors="coerce")

# --- Fallback for SOURCE by OpenFlights airport_id when lat/lon still missing ---
src_missing_mask = r["lat_src"].isna() | r["lon_src"].isna()
r = r.merge(
    ap_of[["airport_id","lat","lon"]].rename(columns={"airport_id":"src_id","lat":"lat_src_id","lon":"lon_src_id"}),
    on="src_id", how="left"
)
r.loc[src_missing_mask, "lat_src"] = r.loc[src_missing_mask, "lat_src"].fillna(r.loc[src_missing_mask, "lat_src_id"])
r.loc[src_missing_mask, "lon_src"] = r.loc[src_missing_mask, "lon_src"].fillna(r.loc[src_missing_mask, "lon_src_id"])

# --- Fallback for DEST by OpenFlights airport_id when lat/lon still missing ---
dst_missing_mask = r["lat_dst"].isna() | r["lon_dst"].isna()
r = r.merge(
    ap_of[["airport_id","lat","lon"]].rename(columns={"airport_id":"dst_id","lat":"lat_dst_id","lon":"lon_dst_id"}),
    on="dst_id", how="left"
)
r.loc[dst_missing_mask, "lat_dst"] = r.loc[dst_missing_mask, "lat_dst"].fillna(r.loc[dst_missing_mask, "lat_dst_id"])
r.loc[dst_missing_mask, "lon_dst"] = r.loc[dst_missing_mask, "lon_dst"].fillna(r.loc[dst_missing_mask, "lon_dst_id"])

# Drop helper cols
r = r.drop(columns=["lat_src_id","lon_src_id","lat_dst_id","lon_dst_id"])

# Check again
missing_src = r["lat_src"].isna().sum()
missing_dst = r["lat_dst"].isna().sum()
print(f"After OpenFlights-ID fallback -> Unmatched source: {missing_src} | Unmatched destination: {missing_dst}")

r.to_csv("routes_full_with_coords.csv", index=False)
print("Re-saved routes_full_with_coords.csv")

After OpenFlights-ID fallback -> Unmatched source: 15 | Unmatched destination: 16
Re-saved routes_full_with_coords.csv

In [8]:
# Load OurAirports with all relevant keys (if not already loaded)
ap_oa = pd.read_csv("world_airports.csv")  # OurAirports
# Normalize
def clean_code(s):
    return s.astype(str).str.strip().str.upper().replace({'NAN': pd.NA, 'NONE': pd.NA, '': pd.NA})

for c in ['iata_code','ident','local_code','iso_country','name','municipality']:
    if c in ap_oa.columns:
        ap_oa[c] = clean_code(ap_oa[c])

ap_oa['lat'] = pd.to_numeric(ap_oa['latitude_deg'], errors='coerce')
ap_oa['lon'] = pd.to_numeric(ap_oa['longitude_deg'], errors='coerce')

# FAA/local-code fallback (common in US routes)
# SOURCE by local_code
r = r.merge(
    ap_oa[['local_code','lat','lon']].rename(columns={'local_code':'src_code','lat':'lat_src_loc','lon':'lon_src_loc'}),
    on='src_code', how='left'
)
src_missing_mask = r['lat_src'].isna() | r['lon_src'].isna()
r.loc[src_missing_mask, 'lat_src'] = r.loc[src_missing_mask, 'lat_src'].fillna(r.loc[src_missing_mask, 'lat_src_loc'])
r.loc[src_missing_mask, 'lon_src'] = r.loc[src_missing_mask, 'lon_src'].fillna(r.loc[src_missing_mask, 'lon_src_loc'])

# DEST by local_code
r = r.merge(
    ap_oa[['local_code','lat','lon']].rename(columns={'local_code':'dst_code','lat':'lat_dst_loc','lon':'lon_dst_loc'}),
    on='dst_code', how='left'
)
dst_missing_mask = r['lat_dst'].isna() | r['lon_dst'].isna()
r.loc[dst_missing_mask, 'lat_dst'] = r.loc[dst_missing_mask, 'lat_dst'].fillna(r.loc[dst_missing_mask, 'lat_dst_loc'])
r.loc[dst_missing_mask, 'lon_dst'] = r.loc[dst_missing_mask, 'lon_dst'].fillna(r.loc[dst_missing_mask, 'lon_dst_loc'])

# Clean helper columns
r = r.drop(columns=['lat_src_loc','lon_src_loc','lat_dst_loc','lon_dst_loc'])

# Recount after local_code fallback
missing_src = r['lat_src'].isna().sum()
missing_dst = r['lat_dst'].isna().sum()
print(f"After local_code fallback -> Unmatched source: {missing_src} | Unmatched destination: {missing_dst}")

After local_code fallback -> Unmatched source: 12 | Unmatched destination: 13